.button {
  border: 3px solid rgb(2, 186, 171);
  color: rgb(2, 186, 171);
  background: transparent;
  cursor: pointer;
  width: 13.5rem;
  height: 4.5rem;
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
  transition: 0.3s all;
  &:hover {
    background: rgb(2, 186, 171);
    color: #ffffff;
    transition: 0.3s all;
  }
  &--full {
    background: rgb(2, 186, 171);
    color: #ffffff;
    &:hover {
      color: rgb(2, 186, 171);
      background: transparent;
      transition: 0.3s all;
    }
  }
  &--white {
    border: 3px solid #ffffff;
    color: #ffffff;
    &:hover {
      color: rgb(2, 186, 171);
      background: #ffffff;
      transition: 0.3s all;
    }
  }
  &--profile {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 10;
    &:hover + .team-box__profile {
      transition: 0.3s all;
      bottom: 0;
    }
  }
  &--return-top {
    width: 16rem;
    font-size: 1.2rem;
    color: #ffffff;
    &:hover .footer-lower__icon {
      color: #ffffff;
    }
  }
}