.footer {
  width: 100%;
  background-color: rgb(31,42,50);
  @include flex-center-row;
  padding: 0 0 2rem 0;
}

.footer-column {
  width: 25%;
  padding: 0 1.5rem;
  &--touch {
    border-top: 1.5rem solid rgb(120,39,169);
  }
  &--tweets {
    border-top: 1.5rem solid rgb(12,143,204);
  }
  &--follow {
    border-top: 1.5rem solid rgb(222,28,92);
  }
  &--popular {
    border-top: 1.5rem solid rgb(255,174,0);
  }
}

.footer-column__box {
  position: relative;
  padding: 0 0 0 2.5rem;
  margin: 1.5rem 0;
  &--no-padding {
    padding: 0;
  }
}

.footer-column__title {
  font-weight: normal;
  font-size: 3rem;
  color: #cccccc;
}

.footer-column__text {
  color: #bebebe;
  font-size: 1.3rem;
  margin: 0.2rem 0;
  &--lighter {
    color: #ffffff;
  }
  &--hashtag {
    color: rgb(2,186,171);
  }
}

.footer-column__icon {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(2, 186, 171);
  font-size: 1.4rem;
}

.footer-column__map {
  width: 100%;
  background-color: #ffffff;
  height: 10rem;
}

.footer-lower {
  @include flex-center-row;
  justify-content: space-between;
  width: 100%;
  padding: 0 4.5rem;
  margin-top: 3rem;
}

.footer-lower__copyright {

}

.footer-lower__text {
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0.2rem 0;
}

.footer-lower__icon {
  font-size: 1.5rem;
  color: rgb(2, 186, 171);
}

.row--footer {
  padding: 0 3rem;
}