.section {
  background-color: #ffffff;
  @include flex-center-row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5rem 0 7rem 0;
  &--hero {
    height: 100vh;
    background: linear-gradient(0deg, rgba(10,10,10,0.8), rgba(10,10,10,0.8)), url("../img/mountains.jpg");
    @include bg-cover;
  }
  &--steal {
    
  }
  &--latest-works {
    background-color: gray;
    color: #ffffff;
  }
  &--purchase {
    padding: 0;
    flex-direction: row;
    background-color: rgb(2, 186, 171);
    color: #ffffff;
  }
  &--quote {
    background-color: gray;
    color: #ffffff;
    background: linear-gradient(0deg, rgba(10,10,10,0.8), rgba(10,10,10,0.8)), url("../img/mountains2.jpg");
    @include bg-cover;
  }
  &--blog {
    
  }
  &--experience {
    background-color: rgb(2, 186, 171);
    color: #ffffff;
  }
}

.section__title {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 3.2rem;
  &--hero {
    font-size: 6rem;
    margin: 0.5rem 0;
    color: rgb(2, 186, 171);
  }
  &--purchase {
    flex-basis: 70%;
    font-size: 2.2rem;
  }
  &--quote {
    font-size: 2.4rem;
    padding: 0 5rem;
  }
}

.section__subtitle {
  flex-basis: 100%;
  text-align: center;
  &--hero {
    color: #cccccc;
    font-size: 5rem;
    margin: 0.5rem 0 3rem 0;
  }
  &--left-aligned {
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 2.6rem;
  }
  &--quote {
    color: rgb(2, 186, 171);
    margin: 0;
    text-transform: uppercase;
  }
}

.section__text {
  text-align: center;
  padding: 1rem 5rem;
  &--left-aligned {
    margin: 0;
    padding: 1rem 0;
    text-align: left;
  }
}

.section__span {
  display: block;
  min-height: 0.5rem;
  width: 5rem;
  margin: 2rem 0 3rem 0;
  &--dark {
    background-color: #acacac;
  }
  &--light {
    background-color: #ffffff;
  }
}

.section__text-box {
  position: relative;
  padding: 0 0 0 8rem;
  align-items: flex-start;
}

.section__icon {
  color: rgb(2, 186, 171);
  font-size: 5rem;
  &--absolute {
    position: absolute;
    left: 0;
    top: 0;
  }
}