.work-box {
  height: 25rem;
  position: relative;
  overflow: hidden;
  background-color: white;
  &:hover .work-box__description {
    bottom: -10rem;
  }
}

.work-box__description {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(43, 40, 40, 0.8);
  z-index: 0;
  padding: 1rem;
  transition: 0.3s all;
}

.work-box__title {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

.work-box__text {
  font-size: 1.2rem;
  margin: 0;
  color: rgb(2, 186, 171);;
}