@import 'variables.scss';
@import 'mixins.scss';
@import 'grid.scss';
@import 'section.scss';
@import 'work-box.scss';
@import 'blog-post.scss';
@import 'experience-box.scss';
@import 'team-box.scss';
@import 'buttons.scss';

// Main Styles

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333;
  width: 100%;
  @include flex-center-column;
}

// Main layout

.container {
  @include flex-center-column;
  width: 100%;
}

.container__title {
  color: #333333;
}

// Components

@import 'nav.scss';

// utilities

.flex-row {
  flex-direction: row;
}

.responsive-img {
  display: block;
  width: 100%;
  height: auto;
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem;
}