.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 960px;
  min-height: 1px; }
  @media screen and (max-width: 992px) {
    .grid {
      margin-top: 6rem; } }
  @media screen and (max-width: 1200px) {
    .grid {
      width: 100%; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 0px 0;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

[class*='col-'] {
  margin: 1rem 15px 1rem 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

@media screen and (max-width: 575px) {
  .col-xs-1 {
    width: calc(8.33% - 2*15px); }
  .col-xs-2 {
    width: calc(16.66% - 2*15px); }
  .col-xs-3 {
    width: calc(25% - 2*15px); }
  .col-xs-4 {
    width: calc(33.33% - 2*15px); }
  .col-xs-5 {
    width: calc(41.66% - 2*15px); }
  .col-xs-6 {
    width: calc(50% - 2*15px); }
  .col-xs-7 {
    width: calc(58.33% - 2*15px); }
  .col-xs-8 {
    width: calc(66.66% - 2*15px); }
  .col-xs-9 {
    width: calc(75% - 2*15px); }
  .col-xs-10 {
    width: calc(83.33% - 2*15px); }
  .col-xs-11 {
    width: calc(91.66% - 2*15px); }
  .col-xs-12 {
    width: calc(100% - 2*15px); } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .col-sm-1 {
    width: calc(8.33% - 2*15px); }
  .col-sm-2 {
    width: calc(16.66% - 2*15px); }
  .col-sm-3 {
    width: calc(25% - 2*15px); }
  .col-sm-4 {
    width: calc(33.33% - 2*15px); }
  .col-sm-5 {
    width: calc(41.66% - 2*15px); }
  .col-sm-6 {
    width: calc(50% - 2*15px); }
  .col-sm-7 {
    width: calc(58.33% - 2*15px); }
  .col-sm-8 {
    width: calc(66.66% - 2*15px); }
  .col-sm-9 {
    width: calc(75% - 2*15px); }
  .col-sm-10 {
    width: calc(83.33% - 2*15px); }
  .col-sm-11 {
    width: calc(91.66% - 2*15px); }
  .col-sm-12 {
    width: calc(100% - 2*15px); } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: calc(8.33% - 2*15px); }
  .col-md-2 {
    width: calc(16.66% - 2*15px); }
  .col-md-3 {
    width: calc(25% - 2*15px); }
  .col-md-4 {
    width: calc(33.33% - 2*15px); }
  .col-md-5 {
    width: calc(41.66% - 2*15px); }
  .col-md-6 {
    width: calc(50% - 2*15px); }
  .col-md-7 {
    width: calc(58.33% - 2*15px); }
  .col-md-8 {
    width: calc(66.66% - 2*15px); }
  .col-md-9 {
    width: calc(75% - 2*15px); }
  .col-md-10 {
    width: calc(83.33% - 2*15px); }
  .col-md-11 {
    width: calc(91.66% - 2*15px); }
  .col-md-12 {
    width: calc(100% - 2*15px); } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .col-lg-1 {
    width: calc(8.33% - 2*15px); }
  .col-lg-2 {
    width: calc(16.66% - 2*15px); }
  .col-lg-3 {
    width: calc(25% - 2*15px); }
  .col-lg-4 {
    width: calc(33.33% - 2*15px); }
  .col-lg-5 {
    width: calc(41.66% - 2*15px); }
  .col-lg-6 {
    width: calc(50% - 2*15px); }
  .col-lg-7 {
    width: calc(58.33% - 2*15px); }
  .col-lg-8 {
    width: calc(66.66% - 2*15px); }
  .col-lg-9 {
    width: calc(75% - 2*15px); }
  .col-lg-10 {
    width: calc(83.33% - 2*15px); }
  .col-lg-11 {
    width: calc(91.66% - 2*15px); }
  .col-lg-12 {
    width: calc(100% - 2*15px); } }

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: calc(8.33% - 2*15px); }
  .col-xl-2 {
    width: calc(16.66% - 2*15px); }
  .col-xl-3 {
    width: calc(25% - 2*15px); }
  .col-xl-4 {
    width: calc(33.33% - 2*15px); }
  .col-xl-5 {
    width: calc(41.66% - 2*15px); }
  .col-xl-6 {
    width: calc(50% - 2*15px); }
  .col-xl-7 {
    width: calc(58.33% - 2*15px); }
  .col-xl-8 {
    width: calc(66.66% - 2*15px); }
  .col-xl-9 {
    width: calc(75% - 2*15px); }
  .col-xl-10 {
    width: calc(83.33% - 2*15px); }
  .col-xl-11 {
    width: calc(91.66% - 2*15px); }
  .col-xl-12 {
    width: calc(100% - 2*15px); } }

@media screen and (max-width: 575px) {
  .col-xs-offset-1 {
    margin-left: calc(calc(8.33% - 2*15px) + 3*15px); }
  .col-xs-offset-2 {
    margin-left: calc(calc(16.66% - 2*15px) + 3*15px); }
  .col-xs-offset-3 {
    margin-left: calc(calc(25% - 2*15px) + 3*15px); }
  .col-xs-offset-4 {
    margin-left: calc(calc(33.33% - 2*15px) + 3*15px); }
  .col-xs-offset-5 {
    margin-left: calc(calc(41.66% - 2*15px) + 3*15px); }
  .col-xs-offset-6 {
    margin-left: calc(calc(50% - 2*15px) + 3*15px); }
  .col-xs-offset-7 {
    margin-left: calc(calc(58.33% - 2*15px) + 3*15px); }
  .col-xs-offset-8 {
    margin-left: calc(calc(66.66% - 2*15px) + 3*15px); }
  .col-xs-offset-9 {
    margin-left: calc(calc(75% - 2*15px) + 3*15px); }
  .col-xs-offset-10 {
    margin-left: calc(calc(83.33% - 2*15px) + 3*15px); }
  .col-xs-offset-11 {
    margin-left: calc(calc(91.66% - 2*15px) + 3*15px); }
  .col-xs-offset-12 {
    margin-left: calc(calc(100% - 2*15px) + 3*15px); } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .col-sm-offset-1 {
    margin-left: calc(calc(8.33% - 2*15px) + 3*15px); }
  .col-sm-offset-2 {
    margin-left: calc(calc(16.66% - 2*15px) + 3*15px); }
  .col-sm-offset-3 {
    margin-left: calc(calc(25% - 2*15px) + 3*15px); }
  .col-sm-offset-4 {
    margin-left: calc(calc(33.33% - 2*15px) + 3*15px); }
  .col-sm-offset-5 {
    margin-left: calc(calc(41.66% - 2*15px) + 3*15px); }
  .col-sm-offset-6 {
    margin-left: calc(calc(50% - 2*15px) + 3*15px); }
  .col-sm-offset-7 {
    margin-left: calc(calc(58.33% - 2*15px) + 3*15px); }
  .col-sm-offset-8 {
    margin-left: calc(calc(66.66% - 2*15px) + 3*15px); }
  .col-sm-offset-9 {
    margin-left: calc(calc(75% - 2*15px) + 3*15px); }
  .col-sm-offset-10 {
    margin-left: calc(calc(83.33% - 2*15px) + 3*15px); }
  .col-sm-offset-11 {
    margin-left: calc(calc(91.66% - 2*15px) + 3*15px); }
  .col-sm-offset-12 {
    margin-left: calc(calc(100% - 2*15px) + 3*15px); } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-offset-1 {
    margin-left: calc(calc(8.33% - 2*15px) + 3*15px); }
  .col-md-offset-2 {
    margin-left: calc(calc(16.66% - 2*15px) + 3*15px); }
  .col-md-offset-3 {
    margin-left: calc(calc(25% - 2*15px) + 3*15px); }
  .col-md-offset-4 {
    margin-left: calc(calc(33.33% - 2*15px) + 3*15px); }
  .col-md-offset-5 {
    margin-left: calc(calc(41.66% - 2*15px) + 3*15px); }
  .col-md-offset-6 {
    margin-left: calc(calc(50% - 2*15px) + 3*15px); }
  .col-md-offset-7 {
    margin-left: calc(calc(58.33% - 2*15px) + 3*15px); }
  .col-md-offset-8 {
    margin-left: calc(calc(66.66% - 2*15px) + 3*15px); }
  .col-md-offset-9 {
    margin-left: calc(calc(75% - 2*15px) + 3*15px); }
  .col-md-offset-10 {
    margin-left: calc(calc(83.33% - 2*15px) + 3*15px); }
  .col-md-offset-11 {
    margin-left: calc(calc(91.66% - 2*15px) + 3*15px); }
  .col-md-offset-12 {
    margin-left: calc(calc(100% - 2*15px) + 3*15px); } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .col-lg-offset-1 {
    margin-left: calc(calc(8.33% - 2*15px) + 3*15px); }
  .col-lg-offset-2 {
    margin-left: calc(calc(16.66% - 2*15px) + 3*15px); }
  .col-lg-offset-3 {
    margin-left: calc(calc(25% - 2*15px) + 3*15px); }
  .col-lg-offset-4 {
    margin-left: calc(calc(33.33% - 2*15px) + 3*15px); }
  .col-lg-offset-5 {
    margin-left: calc(calc(41.66% - 2*15px) + 3*15px); }
  .col-lg-offset-6 {
    margin-left: calc(calc(50% - 2*15px) + 3*15px); }
  .col-lg-offset-7 {
    margin-left: calc(calc(58.33% - 2*15px) + 3*15px); }
  .col-lg-offset-8 {
    margin-left: calc(calc(66.66% - 2*15px) + 3*15px); }
  .col-lg-offset-9 {
    margin-left: calc(calc(75% - 2*15px) + 3*15px); }
  .col-lg-offset-10 {
    margin-left: calc(calc(83.33% - 2*15px) + 3*15px); }
  .col-lg-offset-11 {
    margin-left: calc(calc(91.66% - 2*15px) + 3*15px); }
  .col-lg-offset-12 {
    margin-left: calc(calc(100% - 2*15px) + 3*15px); } }

@media screen and (min-width: 1200px) {
  .col-xl-offset-1 {
    margin-left: calc(calc(8.33% - 2*15px) + 3*15px); }
  .col-xl-offset-2 {
    margin-left: calc(calc(16.66% - 2*15px) + 3*15px); }
  .col-xl-offset-3 {
    margin-left: calc(calc(25% - 2*15px) + 3*15px); }
  .col-xl-offset-4 {
    margin-left: calc(calc(33.33% - 2*15px) + 3*15px); }
  .col-xl-offset-5 {
    margin-left: calc(calc(41.66% - 2*15px) + 3*15px); }
  .col-xl-offset-6 {
    margin-left: calc(calc(50% - 2*15px) + 3*15px); }
  .col-xl-offset-7 {
    margin-left: calc(calc(58.33% - 2*15px) + 3*15px); }
  .col-xl-offset-8 {
    margin-left: calc(calc(66.66% - 2*15px) + 3*15px); }
  .col-xl-offset-9 {
    margin-left: calc(calc(75% - 2*15px) + 3*15px); }
  .col-xl-offset-10 {
    margin-left: calc(calc(83.33% - 2*15px) + 3*15px); }
  .col-xl-offset-11 {
    margin-left: calc(calc(91.66% - 2*15px) + 3*15px); }
  .col-xl-offset-12 {
    margin-left: calc(calc(100% - 2*15px) + 3*15px); } }

.section {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 5rem 0 7rem 0; }
  .section--hero {
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(10, 10, 10, 0.8)), to(rgba(10, 10, 10, 0.8))), url("../img/mountains.jpg");
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url("../img/mountains.jpg");
    background-size: auto auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .section--latest-works {
    background-color: gray;
    color: #ffffff; }
  .section--purchase {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #02baab;
    color: #ffffff; }
  .section--quote {
    background-color: gray;
    color: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(10, 10, 10, 0.8)), to(rgba(10, 10, 10, 0.8))), url("../img/mountains2.jpg");
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url("../img/mountains2.jpg");
    background-size: auto auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .section--experience {
    background-color: #02baab;
    color: #ffffff; }

.section__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 3.2rem; }
  .section__title--hero {
    font-size: 6rem;
    margin: 0.5rem 0;
    color: #02baab; }
  .section__title--purchase {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    font-size: 2.2rem; }
  .section__title--quote {
    font-size: 2.4rem;
    padding: 0 5rem; }

.section__subtitle {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }
  .section__subtitle--hero {
    color: #cccccc;
    font-size: 5rem;
    margin: 0.5rem 0 3rem 0; }
  .section__subtitle--left-aligned {
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 2.6rem; }
  .section__subtitle--quote {
    color: #02baab;
    margin: 0;
    text-transform: uppercase; }

.section__text {
  text-align: center;
  padding: 1rem 5rem; }
  .section__text--left-aligned {
    margin: 0;
    padding: 1rem 0;
    text-align: left; }

.section__span {
  display: block;
  min-height: 0.5rem;
  width: 5rem;
  margin: 2rem 0 3rem 0; }
  .section__span--dark {
    background-color: #acacac; }
  .section__span--light {
    background-color: #ffffff; }

.section__text-box {
  position: relative;
  padding: 0 0 0 8rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.section__icon {
  color: #02baab;
  font-size: 5rem; }
  .section__icon--absolute {
    position: absolute;
    left: 0;
    top: 0; }

.work-box {
  height: 25rem;
  position: relative;
  overflow: hidden;
  background-color: white; }
  .work-box:hover .work-box__description {
    bottom: -10rem; }

.work-box__description {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(43, 40, 40, 0.8);
  z-index: 0;
  padding: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }

.work-box__title {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0; }

.work-box__text {
  font-size: 1.2rem;
  margin: 0;
  color: #02baab; }

.blog-post {
  position: relative;
  padding: 0;
  border-bottom: 2px solid #868686;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.blog-post__title {
  color: #02baab; }

.blog-post__text {
  margin: 0; }

.blog-post__more {
  color: #02baab;
  margin: 1rem 0; }

.blog-post__comments {
  position: absolute;
  right: 0;
  bottom: 1rem; }

.blog-post__icon {
  color: #02baab; }

.experience-box__icon-outline {
  border-radius: 50%;
  border: 5px solid #ffffff;
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.experience-box__icon-box {
  background-color: #000000;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.experience-box__icon {
  font-size: 4rem;
  color: #ffffff; }

.experience-box__title {
  font-weight: normal;
  font-size: 5rem;
  margin: 0; }

.experience-box__text {
  font-size: 2rem;
  margin: 0; }

.team-box {
  position: relative;
  height: 30rem;
  background-size: auto auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #acacac;
  overflow: hidden; }
  .team-box--trump {
    background-image: url("../img/trump.jpg"); }
  .team-box--ghandi {
    background-image: url("../img/ghandi.jpg"); }
  .team-box--queen {
    background-image: url("../img/queen.jpg"); }
  .team-box--kim {
    background-image: url("../img/kim.jpg"); }

.team-box__profile {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.footer {
  width: 100%;
  background-color: #1f2a32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 0 0 7rem 0; }

.footer-column {
  width: 25%;
  padding: 0 1.5rem; }
  .footer-column--touch {
    border-top: 1.5rem solid #7827a9; }
  .footer-column--tweets {
    border-top: 1.5rem solid #0c8fcc; }
  .footer-column--follow {
    border-top: 1.5rem solid #de1c5c; }
  .footer-column--popular {
    border-top: 1.5rem solid #ffae00; }

.footer-column__box {
  position: relative;
  padding: 0 0 0 2.5rem;
  margin: 1.5rem 0; }
  .footer-column__box--no-padding {
    padding: 0; }

.footer-column__title {
  font-weight: normal;
  font-size: 3rem;
  color: #cccccc; }

.footer-column__text {
  color: #bebebe;
  font-size: 1.3rem;
  margin: 0.2rem 0; }
  .footer-column__text--lighter {
    color: #ffffff; }
  .footer-column__text--hashtag {
    color: #02baab; }

.footer-column__icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #02baab;
  font-size: 1.4rem; }

.footer-column__map {
  width: 100%;
  background-color: #ffffff;
  height: 10rem; }

.row--footer {
  padding: 0 3rem; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration: none;
  height: 3.5rem;
  margin: 1rem 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
  .social:hover {
    background-color: #32495a;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }

.social__icon-box {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: white; }
  .social__icon-box--facebook {
    background-color: #3b5998; }
  .social__icon-box--twitter {
    background-color: #00a0d1; }
  .social__icon-box--youtube {
    background-color: #c4302b; }
  .social__icon-box--instagram {
    background-color: #825c48; }
  .social__icon-box--pinterest {
    background-color: #a30834; }

.social__icon {
  color: #ffffff;
  font-size: 2.5rem; }

.social__text {
  font-size: 1.3rem;
  color: #ffffff; }

.button {
  border: 3px solid #02baab;
  color: #02baab;
  background: transparent;
  cursor: pointer;
  width: 13.5rem;
  height: 4.5rem;
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
  .button:hover {
    background: #02baab;
    color: #ffffff;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
  .button--full {
    background: #02baab;
    color: #ffffff; }
    .button--full:hover {
      color: #02baab;
      background: transparent;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
  .button--white {
    border: 3px solid #ffffff;
    color: #ffffff; }
    .button--white:hover {
      color: #02baab;
      background: #ffffff;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
  .button--profile {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    z-index: 10; }
    .button--profile:hover + .team-box__profile {
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      bottom: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  line-height: 1.6; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 100%; }

.container__title {
  color: #333333; }

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

.nav {
  height: 7rem;
  z-index: 10; }
  @media screen and (max-width: 850px) {
    .nav {
      height: 5rem; } }

.nav__logo {
  border-bottom: none; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }
  @media screen and (max-width: 850px) {
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      position: fixed;
      left: 0;
      top: -100vh;
      width: 100vw;
      padding: 0;
      z-index: 1;
      list-style: none;
      background-color: inherit;
      height: 100vh;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; }
      .nav__list--expanded {
        top: -4rem;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; } }

.nav__item {
  font-size: 1.2rem;
  display: block;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  text-align: center;
  height: 100%; }
  @media screen and (max-width: 767px) {
    .nav__item {
      width: 100vw;
      text-align: center;
      z-index: 4;
      padding: 1rem 0 1rem 0;
      margin: 0 1rem; } }
  .nav__item--home {
    border-top: 10px solid #ffae00; }
  .nav__item--typography {
    border-top: 10px solid #fc7100; }
  .nav__item--blog {
    border-top: 10px solid #e51c5e; }
  .nav__item--pages {
    border-top: 10px solid #ae0f8d; }
  .nav__item--elements {
    border-top: 10px solid #6d0fae; }
  .nav__item--commerce {
    border-top: 10px solid #33227a; }
  .nav__item--mega {
    border-top: 10px solid #0c8fcc; }

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #cccccc;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }
  .nav__link--start {
    margin-top: 0;
    margin-bottom: 0; }
    @media screen and (max-width: 850px) {
      .nav__link--start {
        position: fixed;
        top: 0.5rem;
        left: 1rem; } }

.nav__hamburger, .nav__close-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  font-size: 3rem;
  border: none;
  background: none;
  margin-left: auto;
  cursor: pointer; }
  @media screen and (min-width: 851px) {
    .nav__hamburger, .nav__close-menu {
      display: none; } }

.nav__close-menu {
  display: none; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.responsive-img {
  display: block;
  width: 100%;
  height: auto; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }
